[Unit]
Description=CSYE6225 Spring Boot App
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/myapp
EnvironmentFile=/etc/environment
ExecStart=java -jar /opt/myapp/app.jar
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target
